<div id="<%= dom_id question %>">
  <p>
    <strong>User:</strong>
    <%= question.user_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= question.data %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

</div>
